@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(41, 21, 59);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(100, 82, 165);
  border: 1px solid rgb(41, 21, 59);
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg--white: #ffffff;
  --purple-bright: rgb(100, 82, 165);
  --purple--dark: rgb(41, 21, 59);
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  z-index: 999;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  font-size: 2.9em;
  letter-spacing: 0.2ch;
  font-weight: 300;
}

.show-content .overlay {
  opacity: 0;
}

.show-content .portfolio {
  opacity: 1;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px repeat(6, 1fr);
  grid-template-areas:
    "header"
    "hero"
    "skills"
    "projects"
    "resume"
    "subscription"
    "footer";
  min-height: 100vh;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.portfolio > * {
  height: 100vh;
  padding: 20px 80px;
  max-height: 700px;
}

.portfolio__header {
  grid-area: header;
  background-color: var(--bg--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 25;
}

.header__menu--mobile {
  display: none;
}

.header__logo {
  font-weight: 300;
  font-size: 1.6em;
  cursor: pointer;
  transition: 0.5s all ease;
}

.header__logo:hover {
  color: var(--purple--dark);
  transition: 0.5s all ease-in;
}

.header__nav--mobile {
  display: none;
}

.nav__ul {
  list-style: none;
}

.nav__li {
  display: inline-block;
  margin-left: 15px;
}

.nav__li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--purple-bright);
  transition: 0.5s all ease;
  position: relative;
}

.nav__li a:hover {
  color: var(--purple--dark);
  transition: 0.5s all ease-in;
}

.nav__li a::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--purple--dark);
  position: absolute;
  bottom: -5px;
  display: none;
}

.nav__li a:hover:before {
  display: block;
}

.portfolio__hero {
  grid-area: hero;
  display: flex;
  justify-content: space-evenly;
  padding-top: 90px;
  background-color: var(--bg--white);
  height: 100%;
}

.hero__top {
  display: flex;
  flex-direction: column;
}

.hero__texts {
  grid-area: texts;
}

.hero__title {
  font-size: 2.3em;
  color: var(--purple--dark);
  cursor: default;
}

.hero__profession {
  font-size: 3.7em;
  color: var(--purple-bright);
  cursor: default;
}
.hero__paragraph {
  width: 80%;
  color: var(--purple--dark);
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 15px;
  cursor: default;
}

.hero__links {
  display: flex;
  margin-top: 60px;
}

.hero__links a {
  margin-right: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.icon {
  width: 46px;
}

.hero__link--cv {
  padding: 16px 46px;
  border-radius: 16px;
  border: 1px solid var(--purple-bright);
  color: var(--purple-bright);
  font-weight: 500;
  transition: 0.5s all ease;
}

.hero__link--cv:hover {
  background-color: var(--purple-bright);
  color: #ffffff;
  transition: 0.5s all ease;
}

.hero__stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;
}

.stats {
  display: flex;
  gap: 10px;
  cursor: default;
}

.stats__quanty {
  font-size: 2.4em;
  color: var(--purple-bright);
}

.stats__paragraph {
  width: 60%;
  color: var(--purple-bright);
}

.hero__photo {
  grid-area: picture;
  max-width: 450px;
}

.hero__img {
  width: 100%;
  border-radius: 30% 70% 59% 41% / 30% 30% 70% 70%;
  transform: rotate(5deg);
}

/* Skills */

.portfolio__skills {
  grid-area: skills;
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 65px;
  height: auto;
}

.skills__title {
  font-size: 2.9em;
  color: var(--purple-bright);
}

.skills__paragraph {
  width: 60%;
  margin: 0 auto;
  color: var(--purple--dark);
  font-size: 1.2em;
}

.skills__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8em;
  margin-top: 35px;
}

.skill__progamming--languages {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 190px;
  height: 190px;
  border-radius: 12px;
  background-color: #e6e6e6;
  gap: 15px;
  cursor: pointer;
}

.skill__progamming--languages:hover {
  background-color: rgba(100, 82, 165, 0.301);
}

.skill__img {
  width: 120px;
}

.portfolio__projects {
  grid-area: projects;
  background-color: var(--bg--white);
  text-align: center;
  height: auto;
}

.projects__title {
  font-size: 2.9em;
  color: var(--purple-bright);
}

.projects__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.project {
  flex: 1 1 calc(50% - 20px);
  height: 250px;
  background-color: #00000027;
  overflow: hidden;
}

.portfolio__resume {
  grid-area: resume;
  background-color: #124;
}

.portfolio__subscription--form {
  grid-area: subscription;
  background-color: bisque;
}

.portfolio__footer {
  grid-area: footer;
  background-color: paleturquoise;
}

@media (max-width: 1200px) {
  .portfolio > * {
    max-height: 1200px;
  }

  .portfolio__skills {
    overflow-y: auto;
  }

  .portfolio__hero {
    text-align: center;
    gap: 25px;
    flex-direction: column;
    align-items: center;
  }

  .hero__paragraph {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .portfolio > * {
    height: auto;
  }

  .header__menu--mobile {
    display: block;
    width: 46px;
    position: fixed;
    right: 15px;
    z-index: 15;
  }

  .header__logo {
    display: block;
  }

  .header__nav {
    display: none;
  }

  .header__nav--mobile {
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 250px;
    background-color: var(--purple-bright);
    font-size: 1.2em;
    max-height: 100vh;
  }

  .nav__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .nav__li {
    display: block;
    margin-right: 15px;
  }

  .nav__li a {
    color: #fff;
  }
}
