---
import Badge from './Badge.astro';
---

<section class="mb-16 max-w-5xl" id="sobremi">
  <div class="flex flex-col prose-invert prose">
    <h1>Sobre mí</h1>
    <p>
      Soy <Badge>Yordy Martínez</Badge>, originario de la República Dominicana.
      Actualmente, estoy cursando la carrera de <Badge
        >Ingeniería en Sistemas</Badge
      >, donde he estado desarrollado una sólida base en habilidades blandas y
      diseño de software. <Badge
        >Mi pasión por la tecnología me ha llevado a explorar diferentes áreas
        dentro del desarrollo web</Badge
      >.
      <br />
      <br />
      Soy desarrollador <Badge
        >frontend con experiencia en React, Tailwind, Material UI y TypeScript.</Badge
      >
      Me apasiona crear interfaces atractivas y funcionales, y <Badge
        >también con experiencia en backend.</Badge
      > Siempre busco aprender y adaptarme a las nuevas tendencias del desarrollo
      web para ofrecer soluciones innovadoras.
      <br />
      <br />
      Mi objetivo es aplicar mis habilidades en desarrollo web para <Badge
        >crear soluciones innovadoras que mejoren la experiencia del usuario</Badge
      >.
    </p>
  </div>
</section>
