<section
  class="flex md:flex-row flex-col justify-between mx-auto md:max-w-2xl lg:max-w-4xl"
>
  <h4>© 2024 odindevv. Casi todos los derechos reservados</h4>
  <a href="#hero" class="text-2xl">⬆️</a>
</section>
